<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="movieFinder" class="io.yanmulin.codesnippets.spring.ioc.movies.CSVMovieFinderImpl">
        <property name="filename" value="/movies.csv"/>
    </bean>
    <bean id="movieLister" class="io.yanmulin.codesnippets.spring.ioc.movies.MovieListerImpl">
        <constructor-arg ref="movieFinder"/>
    </bean>

</beans>